//Colores
$yellowMeli: #ffe600;
$bgdWeb: #ebebeb;
$txtNormal: rgba(0, 0, 0, 0.9);
$txtLightGray: rgba(0, 0, 0, 0.55);
$txtLightGreen: #00a650;
$txtInfoBlack: rgba(0, 0, 0, 0.8);
$blueSelected: #3483fa;
